.movie__title{
    margin: 10px 0;
    
    padding-left:10px;
}

.item {
    width: 40%;
    border: 1px solid;
}


.price__section{
    display:flex;
    flex-direction: row;
    gap:30px;
    padding-left:10px;
}

@media only screen and (min-width: 768px){

.item {
    width: 17%
}

.price__section{
    gap: 100px;
}

.movie__title{
    height: 50px;
    margin-bottom:0px;
}
}